RewriteEngine on

# picaboo (ios 3)
RewriteRule ^auth$ API/picaboo/Auth/Login.php [L]
RewriteRule ^refresh$ API/picaboo/Auth/Refresh.php [L]
RewriteRule ^im$ API/picaboo/Picaboos/IM.php [L]
RewriteRule ^upload_url$ API/picaboo/Picaboos/UploadURL.php [L]

# picaboo (ios 4) && snapchat 3.X
RewriteRule ^ss2/auth$ API/ss2/Auth/Login.php [L]
RewriteRule ^ss2/sync$ API/ss2/Auth/Refresh.php [L]
RewriteRule ^ss2/blob$ API/ss2/Picaboos/Blob.php [L]
RewriteRule ^ss2/nsp$ API/ss2/Picaboos/Send.php [L]
RewriteRule ^upload_url$ API/ss2/Picaboos/UploadURL.php [L]

#snapchat 4.X
RewriteRule ^ph/login$ API/bq/Auth/Login.php [L]
RewriteRule ^ph/sync$ API/ph/Auth/Sync.php [L]
RewriteRule ^ph/register$ API/ph/Auth/Register.php [L]
RewriteRule ^ph/registeru$ API/bq/Auth/RegisterUsername.php [L]
RewriteRule ^ph/friend$ API/bq/Friends/FriendsHandler.php [L]
RewriteRule ^ph/blob$ API/bq/Snaps/Blob.php [L]
RewriteRule ^ph/upload$ API/bq/Snaps/Upload.php [L]
RewriteRule ^ph/send$ API/bq/Snaps/Send.php [L]


# snapchat 5.X - 6.X
RewriteRule ^bq/login$ API/bq/Auth/Login.php [L]
RewriteRule ^bq/register$ API/bq/Auth/Register.php [L]
RewriteRule ^bq/registeru$ API/bq/Auth/RegisterUsername.php [L]
RewriteRule ^bq/updates$ API/bq/Auth/Refresh.php [L]
RewriteRule ^bq/friend$ API/bq/Friends/FriendsHandler.php [L]
RewriteRule ^bq/upload$ API/bq/Snaps/Upload.php [L]
RewriteRule ^bq/send$ API/bq/Snaps/Send.php [L]
RewriteRule ^bq/retry$ API/bq/Snaps/Retry.php [L]
RewriteRule ^bq/update_snaps$ API/bq/Snaps/UpdateSnaps.php [L]
RewriteRule ^bq/blob$ API/bq/Snaps/Blob.php [L]
RewriteRule ^bq/device$ API/bq/Auth/Device.php [L]

# snapchat 7.X - 9.29.0
RewriteRule ^loq/all_updates$ API/loq/Auth/Refresh.php [L]
RewriteRule ^loq/conversations$ API/loq/Auth/Refresh.php [L]
RewriteRule ^loq/register$ API/loq/Auth/Register.php [L]
RewriteRule ^loq/retry$ API/bq/Snaps/Retry.php [L]
RewriteRule ^loq/send$ API/bq/Snaps/Send.php [L]
RewriteRule ^loq/register_username$ API/loq/Auth/RegisterUsername.php [L]

# snapchat 9.29.1 - 10.X
RewriteRule ^loq/login$ API/loq/Auth/Login.php [L]
#RewriteRule ^bq/download_profile_data$ API/loq/Auth/Refresh.php [L]
RewriteRule ^loq/register_v2$ API/loq/Auth/RegisterV2.php [L]
RewriteRule ^loq/change_email$ API/loq/Settings/ChangeEmail.php [L]
RewriteRule ^bq/get_captcha$ API/loq/Settings/ChangeEmail.php [L]
